:root {
  --player-one-color: #457b9d;
  --player-two-color: #e63946;

  --gold-color: #f9dc5c;
  --farm-color: #386641;

  --game-white: #f1faee;
  --game-dark: #515052;
  --game-blue: #162841;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  position: relative;
}

:hover {
  cursor: default;
}

.infobar {
  height: 5vh;
  width: 100vw;
  background: var(--game-dark);
  display: flex;
}

.infobar span {
  color: var(--game-white);
  text-emphasis: bold;
  margin-right: 1em;

  padding-top: 0.25em;
}

#turn-player-color {
  font-weight: lighter;
  font-size: 0.5em;
  text-align: center;
  margin-right: 0.25rem;
  height: 100%;
  width: 5vh;
  background: var(--player-one-color);
  border: solid 2px #414042;
  box-sizing: border-box;
  color: #162841;
}

.gamebox {
  height: 78vh;
  width: 100vw;
  background: #f1faee;
}

.townOne {
  background: var(--player-one-color);
  width: 10em;
  height: 10em;
  display: grid;
  place-items: center;
}

.townOne:hover {
  background: #386480;
}

.townTwo {
  background: var(--player-two-color);
  width: 10em;
  height: 10em;
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  place-items: center;
}

.townTwo:hover {
  background: #b62e39;
}

.mine {
  background: var(--gold-color);
  width: 10em;
  height: 10em;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.mine:hover {
  background: #cfb74d;
}

.farm {
  background: var(--farm-color);
  width: 10em;
  height: 10em;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.farm:hover {
  background: #28472d;
}

.controlbox {
  height: 17vh;
  width: 100vw;
  background: var(--game-blue);
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
  padding: 1em 2em;
  margin-top: 0.25em;
  background: #EA8C55;
  border: none;
  border-radius: 5%;
  display: inline-block;
  
}

button.button:hover {
  background: #79acad;
}

.vl {
  display: inline-block;
  position: relative;
  border-left: 6px solid green;
  height: 100%;
}