:root {
  --player-one-color: #457b9d;
  --player-two-color: #e63946;

  --gold-color: #f9dc5c;
  --farm-color: #386641;

  --game-white: #f1faee;
  --game-dark: #515052;
  --game-blue: #162841;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  position: relative;
}

:hover {
  cursor: default;
}

.navbar {
  height: 5vh;
  width: 100vw;
  background: var(--game-dark);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navbar .info{
  display: flex;
  align-items: center; 

}

.info span {
  color: var(--game-white);
  font-weight: bold;
  margin-right: 1em;
}

.icons {
  align-self: center;
  justify-self: end;
}

.icons li{
  display: inline;
  margin-left: 5px;
}

.icons li img:hover {
  cursor: pointer;
}

#turn-player-color {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
  margin-right: 0.25rem;
  height: 100%;
  width: 5vh;
  background: var(--player-one-color);
  border: solid 2px #414042;
  box-sizing: border-box;
  color: #162841;
}

.gamebox {
  height: 78vh;
  width: 100vw;
  background: #f1faee;
}

.townOne {
  background: var(--player-one-color);
  width: 10em;
  height: 10em;
  display: grid;
  place-items: center;
}

.townOne:hover {
  background: #386480;
}

.townTwo {
  background: var(--player-two-color);
  width: 10em;
  height: 10em;
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  place-items: center;
}

.townTwo:hover {
  background: #b62e39;
}

.mine {
  background: var(--gold-color);
  width: 10em;
  height: 10em;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.mine:hover {
  background: #cfb74d;
}

.farm {
  background: var(--farm-color);
  width: 10em;
  height: 10em;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.farm:hover {
  background: #28472d;
}

.controlbox {
  height: 17vh;
  width: 100vw;
  background: var(--game-blue);
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.button {
  padding-left: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-right: 5vw;
  background: #ea8c55;
  border: 2px solid #d17c4b;

}

button.button:hover {
  background: #d17c4b;
}

.buttonControls {
  align-items: top;
}

.buttonControls {
  flex-grow: 1;
  display: flex;
}

.infobox {
  background: rgb(209, 183, 149);
  height: 100%;

  border-bottom: 2vh;
  border-top: 2vh;
  border-left: 1vw;
  border-right: 1vw;
  border-color: var(--game-blue);
  border-style: solid;
  flex-grow: 1;
}
